<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IManufacturerDAO">
    <resultMap id="manufacturer" type="model.Manufacturer"/>
    <select id="getManufacturerById" parameterType="java.lang.Long">
        select * from Manufacturer where id = #{id}
    </select>
    <select id="getManufacturer" resultMap="manufacturer">
        select * from Manufacturer
    </select>
    <insert id="insertManufacturer" parameterType="model.Manufacturer">
        insert into Manufacturer(id, name, country)
        values (#{id}, #{name}, #{country})
    </insert>
    <update id="updateManufacturer" parameterType="model.Manufacturer">
        update Manufacturer
        set name = #{name}, country = #{country}
        where id = #{id}
    </update>
    <delete id="deleteManufacturer" parameterType="model.Manufacturer">
        delete from Manufacturer
        where id = #{id}
    </delete>
</mapper>